<a href="https://colab.research.google.com/github/krisdanner/PCA_example/blob/main/PCA_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Leitura dos dados

df = pd.read_csv('/content/drive/MyDrive/ANA LICIA/bank_marketing_campaign.csv', sep=";")

# Tratamento dos dados

df.replace(',', '.')
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.dropna(axis=0)

# Exibição dos dados e informação

print(df.head())
print(df.info())
print(df.describe().T)

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 6.2+ MB
None
            count         mean          std     min    25%    50%     75%  \
age       45211.0    40.936210    10.618762    18.0   33.0   39.0    48.0
balance   45211.0  1362.272058  3044.765829 -8019.0   72.0  448.0  1428.0
day       45211.0    15.806419     8.322476     1.0    8.0   16.0    21.0
duration  45211.0   258.163080   257.527812     0.0  103.0  180.0   319.0
campaign  45211.0     2.763841     3.098021     1.0    1.0    2.0     3.0
pdays     45211.0    40.197828   100.128746    -1.0   -1.0   -1.0    -1.0
previous  45211.0     0.580323     2.303441     0.0    0.0    0.0     0.0

               max
age           95.0
balance   102127.0
day           31.0
duration    4918.0
campaign      63.0
pdays        871.0
previous     275.0